
<hr />
<footer>
	<p><a href="http://www.sina.com.cn/" target="_blank">新浪网</a> 2017</p>
</footer>
</body>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/bootstrap.js"></script>
</html>